<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col sizeXs="12" sizeMd="6">
        <ion-card>
          <ion-card-header>
            Cadastrar novo contato
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="form">
              <ion-list>
                <ion-item>
                  <ion-label position="floating"><small>ID</small></ion-label>
                  <ion-input type="number" formControlName="id"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating"><small>Nome</small></ion-label>
                  <ion-input type="text" formControlName="name"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating"><small>E-Mail</small></ion-label>
                  <ion-input type="email" formControlName="email"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating"><small>CPF</small></ion-label>
                  <ion-input type="text" formControlName="cpf"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating"><small>Telefone</small></ion-label>
                  <ion-input type="text" formControlName="phone"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating"><small>Endereço</small></ion-label>
                  <ion-input type="text" formControlName="address"></ion-input>
                </ion-item>
              </ion-list>
            </form>
          </ion-card-content>
        </ion-card>
        <p>
          <ion-button expand="full" size="large" [disabled]="form.invalid" (click)="submit()">CADASTRAR</ion-button>
          <br>
          <ion-button routerLink="/" expand="full" fill="clear">CANCELAR</ion-button>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>