<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col sizeXs="12" sizeMd="6">
        <ion-card>
          <ion-card-header>
            Autentique-se
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="form">
              <ion-list>
                <ion-item>
                  <ion-label position="floating"><small>Usuário</small></ion-label>
                  <ion-input type="text" formControlName="username"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating"><small>Senha</small></ion-label>
                  <ion-input type="password" formControlName="password"></ion-input>
                </ion-item>
              </ion-list>
            </form>
          </ion-card-content>
        </ion-card>
        <p>
          <ion-button expand="full" size="large" [disabled]="form.invalid" (click)="submit()">ENTRAR</ion-button>
          <br>
          <ion-button routerLink="/signup" expand="full" fill="clear">Cadastre-se</ion-button>
          <br>
          <ion-button routerLink="/reset-password" expand="full" fill="clear">Esqueci a senha</ion-button>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>