<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="4" sizeXs="12">
        <app-contact-card [contacts]="contacts" *ngIf="!showList"></app-contact-card>
        <app-contact-list [contacts]="contacts" *ngIf="showList"></app-contact-list>

        <div class="ion-padding custom-skeleton" *ngIf="!contacts">
          <ion-skeleton-text animated style="width: 33%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          <br>
          <ion-skeleton-text animated style="width: 33%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          <br>
          <ion-skeleton-text animated style="width: 33%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          <br>
          <ion-skeleton-text animated style="width: 33%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          <br>
          <ion-skeleton-text animated style="width: 33%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="toggleView()">
      <ion-icon name="list" *ngIf="!showList"></ion-icon>
      <ion-icon name="apps" *ngIf="showList"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="newCustomer()" color="success">
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>